<#import "../../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Cadastro de Usuário">    

	<div class="form-inline">
		<form action="/scap/usuario" method="post">
	    <table class="form">
			
			<!-- Cargo -->
	      <tr>		
	            <th><label for="cargo"> Cargo do servidor: </label></th>
	            <td><select  id="cargo"  name="cargo">
	            	<option value="PROFESSOR">PROFESSOR</option>
	            	<option value="SECRETARIO">SECRETÁRIO</option>
	            </select></td>
	     </tr>	
			
			<!-- Nome do servidor -->
			<tr>
	            <th><label for=""> Nome do funcionário: </label></th>
	            <td><input  type="text" value="${(flash.nome)!}" id="nome" name="nome"></td>
	        </tr>
	        
	        
	        <!-- Sobrenome -->
			<tr>
	            <th><label for=""> Sobrenome: </label></th>
	            <td><input  type="text" value="${(flash.sobreNome)!}" id="sobreNome" name="sobreNome"></td>
	        </tr>
			
			<!-- Matrícula -->	
			<tr>
				<th><label>Matrícula: </label></th>
				<td><input  type="text" value="${(flash.matricula)!}" id="matricula" name="matricula"></td>
			</tr>

			<!-- Fim do Evento -->	
			<tr>
				<th><label> Telefone: </label></th>
				<td><input  type="text" value="${(flash.telefone)!}" id="telefone" name="telefone"></td>
			</tr>
			
			<!-- email -->	
			<tr>
				<th><label>Email: </label></th>
				<td><input  type="text" value="${(flash.email)!}" id="email" name="email"></td>
			</tr>			
			
			<!-- senha -->	
			<tr>
				<th><label>Senha: </label></th>
				<td><input  type="password" value="${(flash.senha)!}" id="senha" name="senha"></td>
			</tr>
			
		<!-- Falta : id do Evento (gerado automaticamente) -->
		<!-- Falta Solicitante  retirar do Login (juntar User.java que veio no Maven com o Pessoa do SCAP -->
		<!-- Data da Criação do Pedido, o sistema tem de prover-->
		<!-- Apagar dps -->
    
	    </table>
	
	    <p>
	        <button  type="submit"  value="Send">Enviar</button> <input type="reset"
	            value="Reset">
	    </p>
	</form>
	</div>

</@layout.myLayout>