<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    
	
	<div>
		 <#if (resposta)??>
			<h1>${resposta}</h1>
		
		
		</#if>
		 
		<#if (nome)??>
			<h1>Bem-vindo, ${nome}</h1>
		
		
		</#if><else>
		
		<h1>Bem-vindo ao Sistema de Afastamento de Professores - SCAP</h1>
		
		</else>
		
		<#if (auth.nome)??>
			<h1>Bem-vindo, ${auth.nome} ${auth.sobrenome}</h1>
			<h1>forma 2</h1>
		
		
		</#if>
		
		
	</div>
	
	<div>
      
    	
	        
	        <hr>
     
     		<p>
	            <a href="afastamento">Cadastro de Afastamento</a>    
	        </p>
     		
		    <p>
				<a href="usuario">Cadastro de Servidor</a>
			</p>
	
    </div>






		

</@layout.myLayout>